# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/lista01/ex02-NetBeans/ex02/nbproject/private/
/lista01/ex02-Netbeans/nbproject/private/
/lista03/ex03/target/
/lista02/ex01/codigoEx01Lista2/target/
/lista02/ex01/Ex01Lista2/nbproject/private/
/lista02/ex01/Ex01Lista2/build/
/lista02/ex02/ex02/nbproject/private/
/lista02/ex02/ex02/build/
/lista02/ex02/ex02/dist/
/lista02/ex02/ex02-Netbeans/dist/
/lista02/ex02/ex02-Netbeans/build/
/lista02/ex02/ex02-Netbeans/nbproject/private/
/lista02/lista02-ex03/target/
/lista02/ex02/ex01/nbproject/private/
/lista03/ex01/ex01/nbproject/private/
/lista05/lista05ex04/lista05ex04/nbproject/private/
/lista05/lista05ex04/lista05ex04/build/
/lista06/ex01/ex01/build/
/lista06/ex01/ex01/dist/
/lista07/ex02/ex02/nbproject/private/
/lista07/ex02/ex02/build/
/lista06/ex05/build/
/lista06/ex05/dist/
/lista07/EX01/nbproject/private/
/lista07/EX01/build/
/lista06/ex05/dist/
/lista09/ex04/target/
/lista07/ex04/nbproject/private/
/lista09/ex02/nbproject/private/
